PORT=3000 #Puerto en el que corre backend
DB_PORT=1433 #Puerto en el que corre SQL Server
DB_USER= tuUsuario #Nombre de usuario en SQL Server
DB_PASSWORD= tuContraseña #Contraseña de usuario en SQL Server
DB_SERVER=localhost #En este caso, la base de datos está en el mismo equipo que el servidor
DB_NAME=PrimerBD #Nombre de la base de datos a usar
